
.nav-item.dropdown:hover .dropdown-menu-sub {
    display: block;
}

.navbar {
    display: flex;
    justify-content: center;
    /* Navbarı yatay eksende ortalar */
    align-items: center;
    /* Navbarı dikey eksende ortalar */
    background-color: white;
    padding: 20px;
}

.navbar p {
    color: rgb(60, 60, 60);
    text-decoration: none;
    margin: 0 12px;
    /* Linkler arasında boşluk bırakır */
    font-weight: bold;
}

/* welcome page start */
.welcome-page-form {
    display: flex;
    align-items: center;
}

.welcome-page-img img {
    width: 670px;
    height: 520px;
    margin-right: 80px;
}

.welcome-page-input {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.welcome-page-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
/* welcome page finish */

/* buttons start */
.buttons {
    display: flex;
    justify-content: center;
}

.options {
    color: rgb(20, 20, 20);
    background-color: white;
    border-radius: 50px;
    /* Kenarları yuvarlaklaştır */
    height: 55px;
    width: 160px;
    margin: 0 15px;
    font-size: 15px;
    border: 1px solid #efeaea;
    /* Kenarlık oluştur */
    box-shadow: 2px 2px 5px rgba(239, 235, 235, 0.967);
    /* Varsayılan gölge */
    transition: box-shadow 0.3s;
    /* Geçiş efekti */
}

.options:hover {
    box-shadow: 0px 0px 5px rgba(139, 137, 137, 0.919);/* Kenarlara gölge ekle */
}
/* buttons finish */

/* carousel */
.carousel-inner img {
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 300px;
    border-radius: 10px;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Gri ton ekleme */
.carousel-item-left,
.carousel-item-right {
    opacity: 0.5;
    /* Opaklık ayarı */
}
/* carousel */

.btn-market {
    border-radius: 7px;
    background-color: #313a50;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-link {
    display: inline-flex;
    /* Metni ve SVG'yi yatayda hizala */
    align-items: center;
    /* Dikeyde ortala */
    text-decoration: none;
    /* Linkin altını çizme */
    color: #ff6d29;
    font-weight: bold;
    margin-right: 10px;
}

.signin-link svg {
    width: 30px;
    height: 20px;
    margin-right: 5px;
    /* SVG ile metin arasında boşluk bırak */
}

.svg-icon {
    width: 20px;
    height: 20px;
}

.custom-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #ff6d29;
    border-radius: 20px;
    /* Kenarları yuvarlaklaştır */
    border: none;
    height: 40px;
    width: 140px;
    margin: 10px;
    font-size: 15px;
}

.custom-btn:hover {
    box-shadow: 4px 4px 10px rgb(239, 147, 127);
    /* Üzerine gelindiğinde daha belirgin bir gölgelendirme */
}

.sign-in {
    margin-right: 80px;
}


.five-part svg,
.seven-part svg {
    width: 18px;
    margin-left: 10px;
}

.five-right,
.seven-right {
    display: flex;
    justify-content: flex-end;
}

.six-part-left {
    background-color: #f4e9f9;
    border-radius: 20px;
}

.six-part-right i{
    margin-right: 5px;
}

.eats{
font-size: 14px;
}

.seven-button {
    border-radius: 20px;
    width: 145px;
    border: none;
    padding: 0;
    cursor: pointer;
    margin: 5px;
    background-color: rgb(252, 251, 251);
    height: 30px;
}

.seven-button:hover {
    box-shadow: 4px 4px 10px rgb(212, 207, 206);
    /* Üzerine gelindiğinde daha belirgin bir gölgelendirme */
}

a {
    text-decoration: none !important;

}

.eight-part {
    background-color: #f4e9f9;
    border-radius: 10px;
}

.eight-part img {
    width: 600px;
    height: 300px;
}

.lunapark-part img {
    width: 600px;
    height: 350px;
    border-radius: 10px;
}

.six-part-right img {
    margin-left: 20px;
    border-radius: 10px;
}

.nav-link-light{
    color: white;
}

.tns-complete{
    height: 190px;
    width: 410px;
}

.status{
    font-size: 13px;
}

.footer {
    background-color: #303a53;
    padding: 0;
    margin: 0;
}

.footer .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
}

