.nav-item.dropdown:hover .dropdown-menu-sub {
    display: block;
}

.navbar {
    display: flex;
    justify-content: center;
    /* Navbarı yatay eksende ortalar */
    align-items: center;
    /* Navbarı dikey eksende ortalar */
    background-color: white;
    padding: 20px;

}

.navbar p {
    color: rgb(60, 60, 60);
    text-decoration: none;
    margin: 0 12px;
    /* Linkler arasında boşluk bırakır */
    font-weight: bold;
}

.signin-link {
    display: inline-flex;
    /* Metni ve SVG'yi yatayda hizala */
    align-items: center;
    /* Dikeyde ortala */
    text-decoration: none;
    /* Linkin altını çizme */
    color: #ff6d29;
    font-weight: bold;
    margin-right: 10px;
}

.signin-link svg {
    width: 30px;
    height: 20px;
    margin-right: 5px;
    /* SVG ile metin arasında boşluk bırak */
}

.svg-icon {
    width: 20px;
    height: 20px;
}

.custom-btn {
    display: inline-flex;
    align-items: center;
    color: white;
    background-color: #ff6d29;
    border-radius: 20px;
    /* Kenarları yuvarlaklaştır */
    border: none;
    height: 40px;
    width: 140px;
    margin: 10px;
    font-size: 15px;
}

.custom-btn:hover {
    box-shadow: 4px 4px 10px rgb(239, 147, 127);
    /* Üzerine gelindiğinde daha belirgin bir gölgelendirme */
}

.sign-in {
    margin-right: 80px;
}

.welcome-page-img img {
    width: 670px;
    height: 520px;
    margin-right: 80px;
}

.welcome-page-button svg {
    width: 18px;
    color: grey;
    margin-right: 8px;

}

.welcome-page-form {
    display: flex;
    align-items: center;
}

.welcome-page-input {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.welcome-page-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}


.buttons {
    display: flex;
    justify-content: center;
}

.options {
    color: rgb(20, 20, 20);
    background-color: white;
    border-radius: 50px;
    /* Kenarları yuvarlaklaştır */
    height: 55px;
    width: 160px;
    margin: 0 15px;
    font-size: 15px;
    border: 1px solid #efeaea;
    /* Kenarlık oluştur */
    box-shadow: 2px 2px 5px rgba(239, 235, 235, 0.967);
    /* Varsayılan gölge */
    transition: box-shadow 0.3s;
    /* Geçiş efekti */
}

.options:hover {
    box-shadow: 0px 0px 5px rgba(139, 137, 137, 0.919);
    /* Kenarlara gölge ekle */
}

.fourth-part svg {
    width: 18px;
    margin-left: 10px;
}

.fourth-right {
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none !important;

}

.app-part {
    background-color: #d3a9fe;
}


.lunapark-part img {
    width: 600px;
    height: 350px;
    border-radius: 20px;
}

.app-part {
    width: 100px;
    height: 350px;
}

.app-store {
    width: 20px;
    height: 20px;
}


.footer {
    background-color: #222b40;
    width: 100%;
    /* Footer'ın genişliğini %100 yapar */

}